<!-- NAVIGATION : This navigation is also responsive-->
<meta charset="utf-8">
<!-- NAVIGATION : This navigation is also responsive-->
<nav>
	<ul>
		<li class="active open"><a href="#" title="Dashboard"><i
				class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">开单</span></a>
			<ul style="display: block;">
				<li class="active"><a href="/order/add" title="Dashboard"><span
						class="menu-item-parent">进厂开单</span></a></li>
				<li><a href="/order/list" title="Dashboard"><span
						class="menu-item-parent">完工结算</span></a></li>
				<li class=""><a href="/order/composeOrderList" title="Dashboard"><span
						class="menu-item-parent">配件销售</span></a></li>
				<li class=""><a href="/order/composeReturn" title="Dashboard"><span
						class="menu-item-parent">销售退货</span></a></li>
				<li class=""><a href="dashboard-social.html" title="Dashboard"><span
						class="menu-item-parent">挂账管理</span></a></li>
			</ul></li>
		<li><a href="#"><i
				class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
				class="menu-item-parent">采购</span></a>
			<ul>
				<li class=""><a href="/purchase/compose" title="Dashboard"><i
						class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">配件采购</span></a>
				</li>
				<li class=""><a href="/purchase/return" title="Dashboard"><i
						class="fa fa-lg fa-fw fa-picture-o"></i> <span
						class="menu-item-parent">采购退货</span></a></li>
				<li><a href="/purchase/suppliers"><i class="fa fa-cube"></i>供应商管理</a>
				</li>
			</ul></li>
		<li><a href="inbox.html"><i class="fa fa-lg fa-fw fa-inbox"></i>
				<span class="menu-item-parent">库存</span></a> 
			<ul>
				<li class=""><a href="/stock/compose" title="Dashboard"><i
						class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">配件采购</span></a>
				</li>
				<li class=""><a href="/stock/inputOutput" title="Dashboard"><i
						class="fa fa-lg fa-fw fa-picture-o"></i> <span
						class="menu-item-parent">出入库确认</span></a></li>
				<li><a href="/stock/warning"><i class="fa fa-cube"></i>库存预警</a>
				</li>
			</ul></li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
				<span class="menu-item-parent">车辆</span></a>
			<ul>
				<li><a href="/car/list">车辆档案</a></li>
				<li><a href="/car/evaluate">车辆评估</a></li>
				<li><a href="/car/owerNotify">车主提醒</a></li>
				<li><a href="/car/appointment">预约服务</a></li>
			</ul>
		</li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
				class="menu-item-parent">会员</span></a>
			<ul>
				<li><a href="/member/pricingTable">套餐设置</a></li>
				<li><a href="datatables.html">会员卡管理<span
						class="badge inbox-badge bg-color-greenLight hidden-mobile">会员卡充值明细</span></a>
				</li>
				<li><a href="jqgrid.html">会员卡消费明细</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
				<span class="menu-item-parent">统计</span></a>
			<ul>
				<li><a href="form-elements.html">经营图表</a></li>
				<li><a href="form-templates.html">收入明细</a></li>
				<li><a href="validation.html">出入库明细</a></li>
				<li><a href="bootstrap-forms.html">库存分析</a></li>
				<li><a href="bootstrap-validator.html">用户评价</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
				class="menu-item-parent">推广</span></a>
			<ul>
				<li><a href="general-elements.html">微信客户</a></li>
				<li><a href="buttons.html">店内海报</a></li>
				<li><a href="grid.html">商家名片</a></li>
				<li><a href="treeview.html">优惠活动</a></li>
			</ul></li>
		<li><a href="widgets.html"><i
				class="fa fa-lg fa-fw fa-list-alt"></i> <span
				class="menu-item-parent">Widgets</span></a></li>
				
		<li><a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
				<span class="menu-item-parent">设置</span></a>
			<ul>
				<li><a href="projects.html"><i class="fa fa-file-text-o"></i>
						系统设置</a></li>
				<li><a href="blog.html"><i class="fa fa-paragraph"></i>
						员工管理</a></li>
				<li><a href="gallery.html"><i class="fa fa-picture-o"></i>
						服务项管理</a></li>
				<li><a href="profile.html"><i class="fa fa-group"></i>
						权限管理</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i>
				<span class="menu-item-parent">E-Commerce</span></a>
			<ul>
				<li><a href="orders.html">Orders</a></li>
				<li><a href="products-view.html">Products View</a></li>
				<li><a href="products-detail.html">Products Detail</a></li>
			</ul></li>
		<li><a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span
				class="menu-item-parent">Miscellaneous</span></a>
			<ul>
				<li><a href="../Landing_Page/" target="_blank">Landing Page
						<i class="fa fa-external-link"></i>
				</a></li>
				<li><a href="pricing-table.html">Pricing Tables</a></li>
				<li><a href="invoice.html">Invoice</a></li>
				<li><a href="login.html" target="_top">Login</a></li>
				<li><a href="register.html" target="_top">Register</a></li>
				<li><a href="forgotpassword.html" target="_top">Forgot
						Password</a></li>
				<li><a href="lock.html" target="_top">Locked Screen</a></li>
				<li><a href="error404.html">Error 404</a></li>
				<li><a href="error500.html">Error 500</a></li>
				<li><a href="blank_.html">Blank Page</a></li>
			</ul></li>
		<li class="chat-users top-menu-invisible"><a href="#"><i
				class="fa fa-lg fa-fw fa-comment-o"><em
					class="bg-color-pink flash animated">!</em></i> <span
				class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
			<ul>
				<li>
					<!-- DISPLAY USERS -->
					<div class="display-users">

						<input class="form-control chat-user-filter" placeholder="Filter"
							type="text"> <a href="#" class="usr" data-chat-id="cha1"
							data-chat-fname="Sadi" data-chat-lname="Orlaf"
							data-chat-status="busy"
							data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
							data-chat-alertshow="true" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/5.png' alt='Sadi Orlaf'>
												<div class='usr-card-content'>
													<h3>Sadi Orlaf</h3>
													<p>Marketing Executive</p>
												</div>
											</div>
										">
							<i></i>Sadi Orlaf
						</a> <a href="#" class="usr" data-chat-id="cha2"
							data-chat-fname="Jessica" data-chat-lname="Dolof"
							data-chat-status="online" data-chat-alertmsg=""
							data-chat-alertshow="false" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/1.png' alt='Jessica Dolof'>
												<div class='usr-card-content'>
													<h3>Jessica Dolof</h3>
													<p>Sales Administrator</p>
												</div>
											</div>
										">
							<i></i>Jessica Dolof
						</a> <a href="#" class="usr" data-chat-id="cha3"
							data-chat-fname="Zekarburg" data-chat-lname="Almandalie"
							data-chat-status="online" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/3.png' alt='Zekarburg Almandalie'>
												<div class='usr-card-content'>
													<h3>Zekarburg Almandalie</h3>
													<p>Sales Admin</p>
												</div>
											</div>
										">
							<i></i>Zekarburg Almandalie
						</a> <a href="#" class="usr" data-chat-id="cha4"
							data-chat-fname="Barley" data-chat-lname="Krazurkth"
							data-chat-status="away" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/4.png' alt='Barley Krazurkth'>
												<div class='usr-card-content'>
													<h3>Barley Krazurkth</h3>
													<p>Sales Director</p>
												</div>
											</div>
										">
							<i></i>Barley Krazurkth
						</a> <a href="#" class="usr offline" data-chat-id="cha5"
							data-chat-fname="Farhana" data-chat-lname="Amrin"
							data-chat-status="incognito" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/female.png' alt='Farhana Amrin'>
												<div class='usr-card-content'>
													<h3>Farhana Amrin</h3>
													<p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
												</div>
											</div>
										">
							<i></i>Farhana Amrin (offline)
						</a> <a href="#" class="usr offline" data-chat-id="cha6"
							data-chat-fname="Lezley" data-chat-lname="Jacob"
							data-chat-status="incognito" data-rel="popover-hover"
							data-placement="right" data-html="true"
							data-content="
											<div class='usr-card'>
												<img src='img/avatars/male.png' alt='Lezley Jacob'>
												<div class='usr-card-content'>
													<h3>Lezley Jacob</h3>
													<p>Sales Director</p>
												</div>
											</div>
										">
							<i></i>Lezley Jacob (offline)
						</a> <a href="chat.html"
							class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About
							the API</a>

					</div> <!-- END DISPLAY USERS -->
				</li>
			</ul></li>
	</ul>
</nav>


<span class="minifyme" data-action="minifyMenu"> <i
	class="fa fa-arrow-circle-left hit"></i>
</span>

</aside>
<!-- END NAVIGATION -->
